
$progressSizes: (
        mini: -85,
        small: -30,
        big: 30,
        extra-large: 60
) !default;

$progressDefaultHeight: 40px !default;
$progressColor: #eeeeee;
$progressBarColor: rgb(33, 150, 243);