@import "../utilities/card";
@import "../utilities/themify";
@import "../variables/themes/icon-t";

.#{$qmcp}-button {
  .drop {
    @include themify(icon) {
      background: themed(hoverColor)
    }
  }

  .drop:before {
    @include themify(icon) {
      background-color: themed(color)
    }
  }

  &:hover {
    @include themify(icon, (prepend, #{"."+$qmcp}-buttons-dark)) {
      @include card(2, 1px solid themed(hoverColor), (themed(hoverColor), themed(color)), (top, left));
    }
  }

}



