*,::after,::before{box-sizing:border-box}ol[class],ul[class]{padding:0}blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,li,ol[class],p,ul[class]{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ol[class],ul[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}button,input,select,textarea{font:inherit}

body {
    font-size: 14px;
}


.wrapper >  .actions {
    padding: 25px 0;
    border-bottom: 2px darkblue dotted;
}

.wrapper >  .actions > button {
    margin-left: 0.2em;
}

#manager-placement, .wrapper {
    margin-left: 5%;
    margin-right: 5%;
    align-self: flex-start;
}

.manager {
    margin-top: 10px;
    min-height: 100px;
}

textarea#log {
    width: 100%;
    height: available;
    border: 1px solid black;
    padding: 0.5em;
    line-height: 0.9em;
}